In [9]:
!python3 -m pip install numpy

Requirement already satisfied: numpy in /opt/homebrew/lib/python3.9/site-packages (1.23.1)

In [5]:
from qiskit import  Aer
from qiskit.utils import QuantumInstance, algorithm_globals
from qiskit.aqua.algorithms import VQC
from qiskit.algorithms.optimizers import COBYLA
from qiskit.aqua.utils import  map_label_to_class_name
from qiskit.circuit.library import TwoLocal, ZZFeatureMap
from qiskit.circuit.library import ZZFeatureMap
import logging
from qiskit.aqua import set_qiskit_aqua_logging
set_qiskit_aqua_logging(logging.DEBUG)

import pandas as pd
import numpy as np
from math import *
from sklearn.metrics import *

from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

ModuleNotFoundError: No module named 'qiskit.aqua'

In [2]:
# Read out CSV

df = pd.read_csv('UCI_Credit_Card.csv', sep=',')

NameError: name 'pd' is not defined

In [3]:
# Sample definition

df = df.sample(1000)

In [4]:
# Review the information related to the dataframe

df.info

<bound method DataFrame.info of           ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
17503  17504   220000.0    2          1         2   30      0      0      0
29919  29920    50000.0    1          3         1   37     -1     -1      2
6777    6778   120000.0    2          2         1   30      1     -2     -2
18758  18759   230000.0    2          2         2   30     -1      2     -1
5745    5746   210000.0    2          1         2   27      0      0      0
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
9276    9277   450000.0    1          1         2   31     -1     -1     -1
12827  12828    30000.0    1          2         3   49      0      0      0
8991    8992    80000.0    2          2         1   39      1      2      0
1750    1751   260000.0    2          2         1   40      0      0      0
16743  16744    50000.0    1          2         2   39      1      3      2

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
17503      0  ...    61523.0    61415.0    61982.0    7000.0    7500.0
29919      2  ...        0.0     1250.0     5245.0    3000.0       0.0
6777      -2  ...        0.0        0.0        0.0       0.0       0.0
18758      0  ...    16549.0     6392.0     1828.0       0.0    6270.0
5745       0  ...     9137.0    10637.0     3443.0    1500.0    1006.0
...      ...  ...        ...        ...        ...       ...       ...
9276      -1  ...    17871.0    11451.0     3570.0    4412.0    2180.0
12827      0  ...     5023.0     5275.0       54.0    1405.0    1631.0
8991      -1  ...     2065.0     5215.0     3745.0       6.0    1000.0
1750       0  ...    77215.0    79331.0    81483.0   20008.0    7500.0
16743      2  ...    18243.0    20285.0    17175.0       0.0    1266.0

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
17503    2369.0    2000.0    2078.0    2500.0                           0
29919       0.0    1250.0    5245.0       0.0                           1
6777        0.0       0.0       0.0       0.0                           0
18758   14085.0    6396.0       9.0    6172.0                           0
5745     1500.0    1500.0    2600.0      99.0                           0
...         ...       ...       ...       ...                         ...
9276    17895.0   11502.0    3581.0   37092.0                           0
12827     300.0     375.0      54.0    1000.0                           0
8991     2065.0    5215.0    3745.0    1390.0                           1
1750     3000.0    3500.0    3605.0    3750.0                           0
16743       0.0    2301.0       0.0     748.0                           0

[1000 rows x 25 columns]>

In [5]:
# Table of the description of the dataframe related to fixed parameters

df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,15367.594000,165470.000000,1.607000,1.858000,1.557000,35.399000,-0.05600,-0.162000,-0.190000,-0.239000,...,39164.674000,36585.178000,35198.646000,5749.115000,5357.882000,5549.01400,5244.166000,4571.801000,5001.629000,0.239000
std,8522.784541,131899.114768,0.488661,0.778744,0.516738,9.170927,1.10276,1.160648,1.170158,1.130113,...,59132.242357,55684.883556,55455.939125,16621.664176,14987.425121,21754.81491,17763.497553,13029.832717,16583.767361,0.426686
min,129.000000,10000.000000,1.000000,1.000000,0.000000,21.000000,-2.00000,-2.000000,-2.000000,-2.000000,...,-14795.000000,-23003.000000,-150953.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7998.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.00000,-1.000000,-1.000000,-1.000000,...,2079.250000,1912.750000,955.000000,1000.000000,1000.000000,390.00000,300.000000,123.500000,0.000000,0.000000
50%,15520.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.00000,0.000000,0.000000,0.000000,...,18386.000000,16971.500000,15236.000000,2124.500000,2000.000000,1800.00000,1613.000000,1500.000000,1500.000000,0.000000
75%,22732.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.00000,0.000000,0.000000,0.000000,...,49995.750000,47920.500000,46372.500000,5000.000000,5000.000000,4687.25000,4000.000000,4000.500000,4000.000000,0.000000
max,29983.000000,780000.000000,2.000000,6.000000,3.000000,65.000000,5.00000,4.000000,7.000000,7.000000,...,443199.000000,451040.000000,431316.000000,323014.000000,198031.000000,371718.00000,256662.000000,271099.000000,278311.000000,1.000000

In [6]:
# Separation of labels

df_labels = df['default.payment.next.month']
df.drop(['default.payment.next.month'],axis = 1,inplace = True)

In [7]:
df_labels.head()

17503    0
29919    1
6777     0
18758    0
5745     0
Name: default.payment.next.month, dtype: int64

In [8]:
# Train data definition

df_features = df

In [9]:
df_features.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
17503,17504,220000.0,2,1,2,30,0,0,0,0,...,174680.0,61523.0,61415.0,61982.0,7000.0,7500.0,2369.0,2000.0,2078.0,2500.0
29919,29920,50000.0,1,3,1,37,-1,-1,2,2,...,3207.0,0.0,1250.0,5245.0,3000.0,0.0,0.0,1250.0,5245.0,0.0
6777,6778,120000.0,2,2,1,30,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18758,18759,230000.0,2,2,2,30,-1,2,-1,0,...,6254.0,16549.0,6392.0,1828.0,0.0,6270.0,14085.0,6396.0,9.0,6172.0
5745,5746,210000.0,2,1,2,27,0,0,0,0,...,8607.0,9137.0,10637.0,3443.0,1500.0,1006.0,1500.0,1500.0,2600.0,99.0

In [10]:
# Splitting the x_train dataframe by half without any analysis or criteria

features_a = df_features.iloc[:,:12]
features_b = df_features.iloc[:,12:]

In [11]:
features_a

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6
17503,17504,220000.0,2,1,2,30,0,0,0,0,0,0
29919,29920,50000.0,1,3,1,37,-1,-1,2,2,-1,-1
6777,6778,120000.0,2,2,1,30,1,-2,-2,-2,-2,-2
18758,18759,230000.0,2,2,2,30,-1,2,-1,0,0,-2
5745,5746,210000.0,2,1,2,27,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9276,9277,450000.0,1,1,2,31,-1,-1,-1,-1,-1,-1
12827,12828,30000.0,1,2,3,49,0,0,0,0,0,0
8991,8992,80000.0,2,2,1,39,1,2,0,-1,-1,-1
1750,1751,260000.0,2,2,1,40,0,0,0,0,0,0
16743,16744,50000.0,1,2,2,39,1,3,2,2,2,2

In [12]:
features_b

,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
17503,204491.0,176733.0,174680.0,61523.0,61415.0,61982.0,7000.0,7500.0,2369.0,2000.0,2078.0,2500.0
29919,3057.0,3427.0,3207.0,0.0,1250.0,5245.0,3000.0,0.0,0.0,1250.0,5245.0,0.0
6777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18758,1855.0,187.0,6254.0,16549.0,6392.0,1828.0,0.0,6270.0,14085.0,6396.0,9.0,6172.0
5745,15663.0,8513.0,8607.0,9137.0,10637.0,3443.0,1500.0,1006.0,1500.0,1500.0,2600.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9276,3960.0,4397.0,2177.0,17871.0,11451.0,3570.0,4412.0,2180.0,17895.0,11502.0,3581.0,37092.0
12827,12939.0,14128.0,15354.0,5023.0,5275.0,54.0,1405.0,1631.0,300.0,375.0,54.0,1000.0
8991,38986.0,34931.0,33890.0,2065.0,5215.0,3745.0,6.0,1000.0,2065.0,5215.0,3745.0,1390.0
1750,243196.0,258720.0,178102.0,77215.0,79331.0,81483.0,20008.0,7500.0,3000.0,3500.0,3605.0,3750.0
16743,50180.0,49089.0,48935.0,18243.0,20285.0,17175.0,0.0,1266.0,0.0,2301.0,0.0,748.0

In [13]:
df_features.isnull().values.any()

False

In [14]:
#Applying LDA and since we have only two target classes the fitting process will force 1 component per group of features

lda = LDA(n_components=1)
features_lda_1 = lda.fit_transform(features_a, df_labels)
features_lda_2 = lda.fit_transform(features_b, df_labels)

In [15]:
# Transforming arrays into DataFrame to apply join later

features_lda_1 = pd.DataFrame(features_lda_1)
features_lda_2 = pd.DataFrame(features_lda_2)

In [16]:
features_lda_1

            0
0   -0.100110
1   -1.521279
2    0.478491
3   -0.164901
4   -0.048916
..        ...
995 -1.231699
996 -0.488630
997  1.575048
998  0.246924
999  1.638848

[1000 rows x 1 columns]

In [17]:
features_lda_2

            0
0   -1.271561
1    0.021952
2    0.178232
3    0.165430
4    0.249809
..        ...
995 -0.307373
996  0.117683
997 -0.295965
998 -3.591063
999  0.013716

[1000 rows x 1 columns]

In [18]:
# Reduce dimensions using PCA so later you can fit the dimensions with the qubits

features_lda = features_lda_1.join(features_lda_2, lsuffix="_left", rsuffix="_right")

In [19]:
features_lda

       0_left   0_right
0   -0.100110 -1.271561
1   -1.521279  0.021952
2    0.478491  0.178232
3   -0.164901  0.165430
4   -0.048916  0.249809
..        ...       ...
995 -1.231699 -0.307373
996 -0.488630  0.117683
997  1.575048 -0.295965
998  0.246924 -3.591063
999  1.638848  0.013716

[1000 rows x 2 columns]

In [20]:
# Dimensions definition

n_dim = len(features_lda.columns)

In [21]:
n_dim

2

In [22]:
# Split dataset into train and test

sample_train, sample_test, label_train, label_test = train_test_split(
     features_lda, df_labels, test_size=0.2, random_state=22)

In [23]:
sample_train

       0_left   0_right
926 -1.207309  0.204964
916 -1.874894  0.374223
775  0.098127 -0.016720
26   0.215284 -0.024271
776 -0.023003 -0.509233
..        ...       ...
356  0.551223 -0.178612
960 -0.301963  0.159801
812  0.132009  0.820723
132 -0.421917 -0.185845
885 -1.621555 -0.363982

[800 rows x 2 columns]

In [24]:
sample_test

       0_left   0_right
866 -0.238370 -1.544948
191 -0.688863  1.770582
732  0.281392  0.149317
657  0.727972 -1.035474
155  1.791441  0.740855
..        ...       ...
417  0.201348 -1.105306
239  0.524696  0.245884
75   0.043672  0.470868
623 -0.083284  0.896336
101  0.566639  0.438747

[200 rows x 2 columns]

In [25]:
# Normalize

std_scale = StandardScaler().fit(sample_train)
sample_train = std_scale.transform(sample_train)
sample_test = std_scale.transform(sample_test)

# Scale for better fit within the feature map

samples = np.append(sample_train, sample_test, axis=0)
minmax_scale = MinMaxScaler((0, 1)).fit(samples)
sample_train = minmax_scale.transform(sample_train)
sample_test = minmax_scale.transform(sample_test)

# Select a sample for a better control of the research and wall time

train_size = 800
sample_train = sample_train[:train_size]
label_train = label_train[:train_size]

test_size = 200

sample_test = sample_test[:test_size]
label_test = label_test[:test_size]

In [26]:
# Review the balance of the target variable in train

label_train.value_counts(normalize=True)*100

0    76.75
1    23.25
Name: default.payment.next.month, dtype: float64

In [27]:
# Review the balance of the target variable in test

label_test.value_counts(normalize=True)*100

0    73.5
1    26.5
Name: default.payment.next.month, dtype: float64

In [28]:
# Train and test definition for further comparison
zero_train_input = sample_train[label_train == 0]
one_train_input = sample_train[label_train == 1]
zero_train = zero_train_input
one_train = one_train_input

training_input = {0:zero_train,1:one_train}

zero_test_input = sample_test[label_test == 0]
one_test_input = sample_test[label_test == 1]
zero_test = zero_test_input
one_test = one_test_input

test_input = {0:zero_test, 1:one_test}

datapoints = []
datapoints.append(np.concatenate((zero_test, one_test)))
dp_y = np.append(np.zeros(zero_test.shape[0]),np.ones(one_test.shape[0]))
datapoints.append(dp_y)

In [29]:
# Basic parameters for hybrid model

seed = 8500
feature_dim = n_dim

In [30]:
# Define feature_map, optimizer and var_form

feature_map = ZZFeatureMap(feature_dimension=feature_dim, reps=2)
optimizer = COBYLA(maxiter=20, disp=True, rhobeg=1.0, tol=None)
var_form = TwoLocal(feature_dim, ['ry', 'rz'], 'cz', reps=3)
vqc = VQC(optimizer, feature_map, var_form, training_input, test_input, datapoints[0])

# Define the backend

backend = Aer.get_backend('qasm_simulator')

# Define the instance

quantum_instance = QuantumInstance(backend, shots=1024, seed_simulator=seed, seed_transpiler=seed)

# Model run

result = vqc.run(quantum_instance)

print(f'Testing success ratio: {result["testing_accuracy"]}')
print()
print('Prediction from datapoints set:')
print(f'  ground truth: {map_label_to_class_name(datapoints[1], vqc.label_to_class)}')
print(f'  prediction:   {result["predicted_classes"]}')
predicted_labels = result["predicted_labels"]
print(f'  success rate: {100*np.count_nonzero(predicted_labels == datapoints[1])/len(predicted_labels)}%')

2022-07-03 08:32:12,620:qiskit.aqua.algorithms.vq_algorithm:INFO: Starting optimizer.
bounds=[(None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None), (None, None)]
initial point=[-0.42382029 -0.91951576  0.88233885  1.53982871  0.56465409  1.51957414
 -1.46764637  0.33563746 -2.12829174 -2.66895748  1.16725505  0.13470833
 -0.74627018 -0.41194011  1.82672759 -0.41710333]
2022-07-03 08:32:23,497:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.6729579221577993
2022-07-03 08:32:34,148:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.7217764654584348
2022-07-03 08:32:44,533:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.9467600779173297
2022-07-03 08:32:54,870:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5661970432263527
2022-07-03 08:33:06,745:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5678092168075146
2022-07-03 08:33:19,732:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.6388938120885667
2022-07-03 08:33:31,637:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5661970432263527
2022-07-03 08:33:42,625:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5661970432263527
2022-07-03 08:33:54,151:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5977099461104349
2022-07-03 08:34:07,247:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5479451323472653
2022-07-03 08:34:18,115:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5844425024052664
2022-07-03 08:34:30,039:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.6141217989496468
2022-07-03 08:34:42,405:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.6210639870758802
2022-07-03 08:34:53,103:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5765470643074202
2022-07-03 08:35:03,415:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5818105168517503
2022-07-03 08:35:14,207:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5371737800201641
2022-07-03 08:35:24,674:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.531665061269458
2022-07-03 08:35:35,167:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5672285092277566
2022-07-03 08:35:45,491:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.5728907734332099
2022-07-03 08:35:55,662:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch cost: 0.8289749680794963
2022-07-03 08:35:55,663:qiskit.aqua.algorithms.classifiers.vqc:INFO: Optimization complete in 223.0426640510559 seconds.
Found opt_params [-0.42382029 -0.91951576  1.88233885  1.53982871  0.56465409  1.51957414
 -1.46764637  0.33563746 -1.12829174 -2.66895748  1.16725505  0.13470833
 -0.74627018 -0.41194011  2.82672759  0.58289667] in 20 evals
2022-07-03 08:35:57,724:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Intermediate batch accuracy: 73.50%
2022-07-03 08:35:57,725:qiskit.aqua.algorithms.classifiers.vqc:INFO: Accuracy is 73.50%
2022-07-03 08:35:57,726:qiskit.aqua.algorithms.classifiers.vqc:DEBUG: Predicting batch 0

Testing success ratio: 0.735

Prediction from datapoints set:
  ground truth: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
  prediction:   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
  success rate: 73.5%

In [31]:
# Print the classification report and important metrics

print(metrics.confusion_matrix(dp_y,result['predicted_classes']))
print(metrics.accuracy_score(dp_y,result['predicted_classes']))
print(metrics.classification_report(dp_y,result['predicted_classes'], target_names=['0','1']))
print(metrics.balanced_accuracy_score(dp_y,result['predicted_classes']))

[[146   1]
 [ 52   1]]
0.735
              precision    recall  f1-score   support

           0       0.74      0.99      0.85       147
           1       0.50      0.02      0.04        53

    accuracy                           0.73       200
   macro avg       0.62      0.51      0.44       200
weighted avg       0.67      0.73      0.63       200

0.5060326017199333

In [32]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
X_train, X_test, y_train, y_test = train_test_split(df_features, df_labels, test_size=0.2, random_state=0)

In [34]:
classifier = RandomForestClassifier(max_depth=2, random_state=0)

classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [35]:
# Print the classification report and important metrics

print(metrics.classification_report(y_test, y_pred))
print(metrics.precision_score(y_test, y_pred))
print(metrics.recall_score(y_test, y_pred))
print(metrics.f1_score(y_test, y_pred))
print(metrics.balanced_accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.97      0.88       158
           1       0.58      0.17      0.26        42

    accuracy                           0.80       200
   macro avg       0.70      0.57      0.57       200
weighted avg       0.77      0.80      0.75       200

0.5833333333333334
0.16666666666666666
0.25925925925925924
0.5675105485232068

In [36]:
#Import classical libraries

import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import datasets
import matplotlib.pyplot as plt

plt.style.use('ggplot')

In [37]:
models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))

In [38]:
# Classic ML results

results = []
names = []
scoring = 'accuracy'
for name, model in models:
    kfold = model_selection.KFold(n_splits=10)
    cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LR: 0.752500 (0.059108)
LDA: 0.807500 (0.052797)
KNN: 0.700000 (0.042573)
CART: 0.696250 (0.039151)
NB: 0.388750 (0.048234)
SVM: 0.753750 (0.049069)

In [39]:
results = []
names = []
scoring = 'balanced_accuracy'
for name, model in models:
    kfold = model_selection.KFold(n_splits=10)
    cv_results = model_selection.cross_val_score(model, X_train, y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LR: 0.528119 (0.028269)
LDA: 0.671025 (0.047037)
KNN: 0.541607 (0.035220)
CART: 0.618451 (0.034031)
NB: 0.560953 (0.040492)
SVM: 0.500000 (0.000000)