In [2]:
import pandas as pd
import numpy as np
from pennylane import numpy as np
from sklearn.preprocessing import normalize
from sklearn.preprocessing import StandardScaler

import pennylane as qml
from pennylane.templates.embeddings import AngleEmbedding, AmplitudeEmbedding
from pennylane.optimize import AdamOptimizer
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA


import time
start = time.time()

In [3]:
# Read out CSV and adjusting the sample needed

df = pd.read_csv('UCI_Credit_Card.csv', sep=',')
df = df.astype(float)
train,test = train_test_split(df, test_size=0.20)
train_set = train
test_set = test
train_set = train_set.sample(800)
test_set = test_set.sample(200)

In [4]:
# Review the information related to the dataframe

df.info

<bound method DataFrame.info of             ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  \
0          1.0    20000.0  2.0        2.0       1.0  24.0    2.0    2.0
1          2.0   120000.0  2.0        2.0       2.0  26.0   -1.0    2.0
2          3.0    90000.0  2.0        2.0       2.0  34.0    0.0    0.0
3          4.0    50000.0  2.0        2.0       1.0  37.0    0.0    0.0
4          5.0    50000.0  1.0        2.0       1.0  57.0   -1.0    0.0
...        ...        ...  ...        ...       ...   ...    ...    ...
29995  29996.0   220000.0  1.0        3.0       1.0  39.0    0.0    0.0
29996  29997.0   150000.0  1.0        3.0       2.0  43.0   -1.0   -1.0
29997  29998.0    30000.0  1.0        2.0       2.0  37.0    4.0    3.0
29998  29999.0    80000.0  1.0        3.0       1.0  41.0    1.0   -1.0
29999  30000.0    50000.0  1.0        2.0       1.0  46.0    0.0    0.0

       PAY_3  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0       -1.0   -1.0  ...        0.0        0.0        0.0       0.0     689.0
1        0.0    0.0  ...     3272.0     3455.0     3261.0       0.0    1000.0
2        0.0    0.0  ...    14331.0    14948.0    15549.0    1518.0    1500.0
3        0.0    0.0  ...    28314.0    28959.0    29547.0    2000.0    2019.0
4       -1.0    0.0  ...    20940.0    19146.0    19131.0    2000.0   36681.0
...      ...    ...  ...        ...        ...        ...       ...       ...
29995    0.0    0.0  ...    88004.0    31237.0    15980.0    8500.0   20000.0
29996   -1.0   -1.0  ...     8979.0     5190.0        0.0    1837.0    3526.0
29997    2.0   -1.0  ...    20878.0    20582.0    19357.0       0.0       0.0
29998    0.0    0.0  ...    52774.0    11855.0    48944.0   85900.0    3409.0
29999    0.0    0.0  ...    36535.0    32428.0    15313.0    2078.0    1800.0

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
0           0.0       0.0       0.0       0.0                         1.0
1        1000.0    1000.0       0.0    2000.0                         1.0
2        1000.0    1000.0    1000.0    5000.0                         0.0
3        1200.0    1100.0    1069.0    1000.0                         0.0
4       10000.0    9000.0     689.0     679.0                         0.0
...         ...       ...       ...       ...                         ...
29995    5003.0    3047.0    5000.0    1000.0                         0.0
29996    8998.0     129.0       0.0       0.0                         0.0
29997   22000.0    4200.0    2000.0    3100.0                         1.0
29998    1178.0    1926.0   52964.0    1804.0                         1.0
29999    1430.0    1000.0    1000.0    1000.0                         1.0

[30000 rows x 25 columns]>

In [5]:
# Separation of labels

x_train = train_set
y_train = train_set[['default.payment.next.month']]

x_test = test_set
y_test = test_set[['default.payment.next.month']]

In [6]:
y_train

       default.payment.next.month
24579                         0.0
4131                          0.0
29876                         0.0
9166                          1.0
8337                          0.0
...                           ...
8972                          1.0
23375                         0.0
5743                          0.0
8530                          0.0
14802                         0.0

[800 rows x 1 columns]

In [7]:
y_test

       default.payment.next.month
15733                         0.0
13425                         0.0
28715                         0.0
6049                          0.0
12904                         1.0
...                           ...
23400                         0.0
5191                          1.0
15820                         0.0
3893                          0.0
7576                          1.0

[200 rows x 1 columns]

In [8]:
# Splitting the x_train dataframe by half without any analysis or criteria

features_a = x_train.iloc[:,:12]
features_b = x_train.iloc[:,12:]

In [9]:
# Splitting the x_test dataframe by half without any analysis or criteria

features_a_test = x_test.iloc[:,:12]
features_b_test = x_test.iloc[:,12:]

In [10]:
#Applying LDA to x_train features group and since we have only two target classes the fitting process will force 1 component per group of features

lda = LDA(n_components=1)
features_lda_1 = lda.fit_transform(features_a, y_train)
features_lda_2 = lda.fit_transform(features_b, y_train)

c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\utils\validation.py:1107: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\utils\validation.py:1107: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [11]:
# Applying LDA to x_test features group and since we have only two target classes the fitting process will force 1 component per group of features

features_lda_1_test = lda.fit_transform(features_a_test, y_test)
features_lda_2_test = lda.fit_transform(features_b_test, y_test)

c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\utils\validation.py:1107: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\utils\validation.py:1107: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
# Transforming arrays into DataFrame to apply join later

features_lda_1 = pd.DataFrame(features_lda_1)
features_lda_2 = pd.DataFrame(features_lda_2)
features_lda_1_test = pd.DataFrame(features_lda_1_test)
features_lda_2_test = pd.DataFrame(features_lda_2_test)

In [13]:
# Join between the single feature columns

x_train_lda = features_lda_1.join(features_lda_2, lsuffix="_left", rsuffix="_right")
x_test_lda = features_lda_1_test.join(features_lda_2_test, lsuffix="_left", rsuffix="_right")

In [14]:
x_train_lda

       0_left   0_right
0   -1.345405 -0.301301
1   -0.612797 -0.796739
2   -1.434095 -0.158422
3    1.781708  0.511760
4    1.776393  0.503258
..        ...       ...
795 -0.162334  0.492042
796 -0.091364  0.202985
797 -0.714028  0.384298
798 -0.212374  0.337102
799  0.745512  0.457482

[800 rows x 2 columns]

In [15]:
x_test_lda

       0_left   0_right
0   -0.276840  0.529014
1   -0.897600  0.465746
2   -2.784959 -2.329779
3    1.929075  1.810893
4    3.413742  0.340819
..        ...       ...
195 -1.574110  0.584930
196 -0.080561  0.498835
197  0.924304  0.496149
198 -0.238253 -0.224738
199  0.227896  0.297113

[200 rows x 2 columns]

In [16]:
y_test

       default.payment.next.month
15733                         0.0
13425                         0.0
28715                         0.0
6049                          0.0
12904                         1.0
...                           ...
23400                         0.0
5191                          1.0
15820                         0.0
3893                          0.0
7576                          1.0

[200 rows x 1 columns]

In [17]:
y_train

       default.payment.next.month
24579                         0.0
4131                          0.0
29876                         0.0
9166                          1.0
8337                          0.0
...                           ...
8972                          1.0
23375                         0.0
5743                          0.0
8530                          0.0
14802                         0.0

[800 rows x 1 columns]

In [18]:
# Normalization

std_scale = StandardScaler().fit(x_train_lda)
data = std_scale.transform(x_train_lda)

std_scale = StandardScaler().fit(x_test_lda)
x_test_lda_n = std_scale.transform(x_test_lda)

In [19]:
x_test_lda_n

array([[-2.60355335e-01,  5.20188317e-01],
       [-8.44151636e-01,  4.57976168e-01],
       [-2.61912762e+00, -2.29091040e+00],
       [ 1.81420778e+00,  1.78068104e+00],
       [ 3.21046940e+00,  3.35133452e-01],
       [ 9.86853070e-02, -9.54663377e-01],
       [ 4.47286704e-01, -1.03899734e+00],
       [ 1.65556882e-01, -4.88338813e-01],
       [ 4.91059299e-01,  1.61217780e-01],
       [ 1.67909243e+00,  8.96132867e-01],
       [-2.78474358e-01,  1.85785304e-02],
       [ 5.71229589e-01, -1.26331485e+00],
       [-2.82456377e-01,  2.31972149e-01],
       [-1.61001124e+00, -1.48190487e+00],
       [ 9.19883395e-01,  4.87409206e-01],
       [ 2.42894927e+00,  1.38171318e+00],
       [-1.52647275e+00, -2.80356287e-01],
       [ 4.52346617e-01,  1.48484406e+00],
       [ 8.06895980e-01,  4.61878459e-01],
       [ 7.01790577e-02,  3.89578154e-01],
       [-6.13070713e-01,  2.29702476e+00],
       [-8.52632754e-01,  5.25408549e-01],
       [ 3.43891430e-01, -4.70547513e-01],
       [-9.27335950e-01, -2.20028541e-01],
       [ 4.41708400e-01,  3.99297619e-01],
       [ 1.07717605e-01,  3.73502225e-01],
       [ 1.73776642e+00,  5.14726650e-01],
       [ 8.62293940e-01,  2.89101942e-01],
       [-1.15420766e+00,  4.43357080e-01],
       [ 8.70982182e-01,  5.06212339e-01],
       [ 4.71878863e-01, -9.31031714e-01],
       [ 3.67869727e-02,  5.75171296e-01],
       [ 6.16547459e-01, -7.12500256e-01],
       [-2.32990977e-01,  5.20631318e-01],
       [ 5.07643530e-01, -9.76829492e-02],
       [-2.62585278e-01, -4.03724664e-02],
       [ 2.16888596e+00,  6.41371148e-01],
       [-6.07918033e-01, -5.10174012e+00],
       [-8.78332125e-01, -1.54777654e+00],
       [-4.48840754e-01,  6.25089922e-01],
       [-2.21384712e-01,  3.60395809e-01],
       [ 7.85404476e-01,  6.04242596e-01],
       [ 3.86718775e-01, -2.14325152e+00],
       [-1.41903469e+00,  3.72939509e-01],
       [ 6.45286741e-02,  5.01504483e-01],
       [-3.90226231e-01,  7.90758025e-02],
       [-3.45918517e-01,  5.60032530e-01],
       [-8.96266240e-03,  3.94900809e-01],
       [-2.10332287e+00,  5.16698761e-01],
       [ 2.51879413e-01,  6.63239476e-01],
       [-1.37086978e+00, -4.55672320e-01],
       [ 2.25781914e-02, -1.32158099e+00],
       [-1.31606523e-01, -4.24029066e+00],
       [-1.39545537e+00,  1.01647845e-01],
       [-1.12765134e+00, -1.14438289e-01],
       [-2.01902375e+00,  5.42644347e-01],
       [-2.11791939e-01, -2.38387059e+00],
       [-5.04149571e-01,  1.99949850e-01],
       [-2.44656668e-01,  4.82009874e-01],
       [-3.91441467e-01,  9.41532110e-01],
       [ 1.86435051e+00,  7.35916501e-01],
       [ 1.82856930e+00,  5.15125692e-01],
       [ 2.28628087e-01,  3.05645693e-01],
       [ 4.39885391e-01, -8.49819132e-02],
       [ 1.27624381e-01, -2.53838688e+00],
       [ 6.50605837e-01,  4.92790591e-01],
       [-7.12117328e-01,  5.03228075e-01],
       [-1.97219844e-01, -2.08699226e+00],
       [ 1.41146058e+00,  5.05328521e-01],
       [-4.18063106e-01,  4.61137185e-01],
       [ 9.64117997e-01, -6.67489883e-01],
       [-9.80318161e-01,  4.63753438e-01],
       [ 1.28663749e+00,  3.93644645e-01],
       [ 9.05869126e-01, -7.52406147e-01],
       [-6.06635696e-01, -1.53431096e-02],
       [-2.28704086e-02,  4.92042661e-01],
       [-8.75558995e-01, -5.68049080e-02],
       [-2.34924958e-01, -4.09809477e-01],
       [-1.15188842e+00,  5.69330710e-01],
       [-2.17975100e+00,  5.60540982e-01],
       [ 3.22473834e-01, -6.34132862e-02],
       [ 3.72910960e-01,  4.82185594e-01],
       [ 3.81974162e-01,  3.90728782e-01],
       [ 6.48931432e-01,  5.26833796e-01],
       [ 4.76513900e-01, -2.03253917e-01],
       [ 2.39299488e-01,  8.34329042e-01],
       [-9.70932913e-01,  5.84823685e-02],
       [ 1.08321324e-01,  3.19950530e-02],
       [-1.46364811e+00,  2.87401783e-01],
       [-5.09817007e-01,  4.90663650e-01],
       [ 1.29378415e+00,  4.63696934e-01],
       [-9.61893373e-01, -5.37292744e-01],
       [ 2.11381191e-01,  1.33835879e-01],
       [-1.44972984e+00,  4.94553059e-01],
       [ 6.26339614e-01,  5.97518566e-01],
       [-1.03009900e+00,  2.21404216e-01],
       [-4.35220064e-01,  5.74686590e-01],
       [ 1.23353382e+00,  3.46072738e-01],
       [ 6.24680223e-02,  4.51046504e-01],
       [ 1.43197428e-01,  2.95631128e-01],
       [ 2.30099180e+00,  5.30455710e-01],
       [-8.72930083e-04, -1.13651168e-01],
       [-1.20502266e+00,  1.18304958e-01],
       [-4.69872030e-02, -2.29072799e+00],
       [-1.21115227e+00,  3.94337336e-01],
       [ 5.38010635e-01, -8.73389953e-02],
       [-1.37801565e+00,  3.75388170e-01],
       [-2.05519686e+00, -1.24165826e+00],
       [ 9.91495224e-01,  3.27334206e-01],
       [-3.43693187e-02, -2.97158388e+00],
       [ 1.03432331e+00,  8.63663348e-01],
       [-3.06368279e-01,  4.74450892e-01],
       [-1.51962297e-01,  5.33516066e-01],
       [ 1.85887779e-01,  1.91810886e-01],
       [-4.49309952e-01, -1.31063556e+00],
       [-1.96196181e+00,  5.75171296e-01],
       [-2.30045482e-01,  5.83481789e-01],
       [ 5.44641599e-01,  4.28420894e-01],
       [-5.28499872e-01, -1.32149837e+00],
       [ 1.06517661e+00,  5.59639202e-01],
       [ 2.64781076e+00,  5.37259839e-01],
       [-2.09066458e+00, -1.37664752e-01],
       [ 1.08253018e+00,  5.52675731e-01],
       [ 9.90731227e-01,  2.33612505e-01],
       [-4.09407178e-01,  9.88738139e-01],
       [ 4.15803990e-01, -2.69033035e-01],
       [ 4.80202366e-01,  4.95775055e-01],
       [-7.92369244e-01, -5.95760385e-01],
       [ 9.25043492e-02,  4.27445637e-01],
       [ 2.71196953e-01,  5.10197541e-01],
       [-1.46958844e+00,  4.05497615e-01],
       [ 3.65743397e-01,  4.46416617e-01],
       [ 8.68014952e-01,  7.52494445e-01],
       [-6.41645834e-02, -1.07873540e-01],
       [-5.20363397e-01,  3.47155698e-01],
       [ 7.14877867e-01,  3.38427945e-01],
       [ 1.00688612e+00, -4.63586426e-02],
       [-2.72470753e-02, -7.73362484e-01],
       [-2.08227818e+00,  1.31831211e-02],
       [ 1.93620540e-01,  1.92677687e-01],
       [-2.44492936e-01, -2.44286905e-01],
       [-6.50242545e-01, -4.75523370e+00],
       [ 1.25192812e-02,  1.01615693e+00],
       [ 1.38655259e-01, -9.38215377e-01],
       [-1.43397964e-01,  9.30474286e-02],
       [ 2.17114078e+00,  5.91554932e-01],
       [ 8.22617780e-02,  1.34290553e-01],
       [-1.93074527e-02, -3.99789230e-01],
       [-7.01613161e-01, -2.95629555e-01],
       [-1.95117107e-01, -3.63570872e-01],
       [-7.44739694e-01, -3.08115124e+00],
       [ 1.03426601e+00, -1.02336429e+00],
       [ 4.05478953e-01,  4.08328584e-02],
       [ 8.28273559e-01,  1.13053549e+00],
       [ 1.57254266e+00,  1.63133313e-01],
       [ 2.35037430e-01,  3.90640211e-01],
       [-1.23937397e+00,  3.32118028e-01],
       [ 1.00203145e-02,  4.84963421e-01],
       [ 4.62293980e-01,  5.20341558e-01],
       [ 3.70823967e-01,  8.01073253e-01],
       [-1.20485746e+00,  6.50703735e-01],
       [ 6.29206608e-01,  3.13967070e-01],
       [-2.32884014e-01,  5.31300993e-01],
       [-3.33972961e-01,  5.98767472e-01],
       [-1.17046874e+00, -9.92200987e-01],
       [ 7.13080367e-02, -2.36713778e+00],
       [ 1.09062611e+00,  4.43802782e-01],
       [ 1.81526021e-01,  5.19767150e-02],
       [-2.04446628e+00, -1.00134719e+00],
       [ 2.93176113e-01,  5.35801283e-01],
       [-6.79202452e-01,  3.45448144e-01],
       [-7.80723241e-01,  3.30413032e-01],
       [ 2.49884089e-02,  5.60399158e-01],
       [ 3.77277259e-01,  4.31501017e-01],
       [ 1.31674765e+00,  4.91788530e-01],
       [ 1.94364148e+00, -5.65442453e-01],
       [-7.08110319e-01,  4.73864877e-01],
       [-7.97183119e-01, -2.15667484e+00],
       [ 8.88631238e-01,  5.32726449e-01],
       [ 5.79110069e-02,  7.72994789e-01],
       [-1.33758667e+00, -1.72447990e+00],
       [ 2.29272935e+00,  4.27119075e-01],
       [-1.98474676e-01, -1.10702145e-01],
       [ 1.72942480e+00,  4.48826520e-01],
       [-3.74686559e-01,  2.24006914e-01],
       [-4.72625823e-02,  1.07068216e-01],
       [-7.01648486e-01,  6.69675446e-01],
       [ 2.89185186e-01,  5.13679838e-01],
       [-1.59206250e+00,  5.75171296e-01],
       [ 3.01223399e-01,  6.15068583e-01],
       [ 9.02139322e-01,  3.97758746e-01],
       [-1.13273470e+00,  4.64022264e-01],
       [ 4.34100440e-01,  5.75171296e-01],
       [-2.85203617e-01,  8.91898973e-03],
       [ 1.57887839e-01, -6.49630312e-01],
       [-1.48037906e+00,  5.75171296e-01],
       [-7.57640578e-02,  4.90512958e-01],
       [ 8.69266008e-01,  4.87871270e-01],
       [-2.24066093e-01, -2.20988687e-01],
       [ 2.14325601e-01,  2.92155985e-01]])

In [20]:
# Dimensions definition

n_dim = 2

In [21]:
# Review the balance of the target variable in train

y_test.value_counts(normalize=True)*100

default.payment.next.month
0.0                           84.0
1.0                           16.0
dtype: float64

In [22]:
# Review the balance of the target variable in test

y_test.value_counts(normalize=True)*100

default.payment.next.month
0.0                           84.0
1.0                           16.0
dtype: float64

In [23]:
# Angle Encoding

num_qubits = n_dim

dev = qml.device('default.qubit', wires = num_qubits)

@qml.qnode(dev)
def circuit(parameters, data):
    for i in range(num_qubits):
        qml.Hadamard(wires = i)
    
    AngleEmbedding(features = data, wires = range(num_qubits), rotation = 'Y')
    
    qml.StronglyEntanglingLayers(weights = parameters, wires = range(num_qubits))
    
    return qml.expval(qml.PauliZ(0))

In [24]:
num_layers = 5
weights_init = 0.01 * np.random.randn(num_layers, num_qubits, 3, requires_grad=True)
bias_init = np.array(0.0, requires_grad=True)

print(weights_init, bias_init)

[[[-0.01351294 -0.01386338 -0.01311764]
  [-0.00128187  0.00767486 -0.009503  ]]

 [[ 0.00720301 -0.00030689 -0.01311703]
  [-0.02596319  0.01247156  0.00823375]]

 [[ 0.01943211 -0.00278012 -0.00379277]
  [-0.00124978 -0.00246835 -0.00150522]]

 [[-0.001015    0.01707059  0.0014343 ]
  [ 0.007953   -0.01585231 -0.01451275]]

 [[ 0.00681931 -0.015388    0.00787622]
  [-0.01289089  0.00444768  0.018959  ]]] 0.0

In [25]:
circuit(weights_init, data[0])

tensor(0.28526829, requires_grad=True)

In [26]:
def variational_classifier(weights, bias, x):
    return circuit(weights, x) + bias

In [27]:
def square_loss(labels, predictions):
    loss = 0
    for l, p in zip(labels, predictions):
        loss = loss + (l - p) ** 2

    loss = loss / len(labels)
    return loss

In [28]:
def accuracy(labels, predictions):

    loss = 0
    for l, p in zip(labels, predictions):
        if abs(l - p) < 1e-5:
            loss = loss + 1
    loss = loss / len(labels)

    return loss

In [29]:
def cost(weights, bias, X, Y):
    predictions = [variational_classifier(weights, bias, x) for x in X]
    return square_loss(Y, predictions)

In [30]:
Y = np.array(y_train.values[:,0] * 2 - np.ones(len(y_train.values[:,0])), requires_grad = False)  # shift label from {0, 1} to {-1, 1}
X = np.array(data, requires_grad=False)

for i in range(5):
    print("X = {}, Y = {: d}".format(list(X[i]), int(Y[i])))

X = [tensor(-1.27726695, requires_grad=False), tensor(-0.29727767, requires_grad=False)], Y = -1
X = [tensor(-0.58176221, requires_grad=False), tensor(-0.78610004, requires_grad=False)], Y = -1
X = [tensor(-1.36146548, requires_grad=False), tensor(-0.1563068, requires_grad=False)], Y = -1
X = [tensor(1.69147396, requires_grad=False), tensor(0.50492603, requires_grad=False)], Y =  1
X = [tensor(1.68642764, requires_grad=False), tensor(0.49653837, requires_grad=False)], Y = -1

In [31]:
opt = AdamOptimizer(stepsize=0.1, beta1=0.9, beta2=0.99, eps=1e-08)
batch_size = 10

In [32]:
weights = weights_init
bias = bias_init

wbest = 0
bbest = 0
abest = 0

for it in range(20):

    # weights update by one optimizer step

    batch_index = np.random.randint(0, len(X), (batch_size,))
    X_batch = X[batch_index]
    Y_batch = Y[batch_index]
    weights, bias, _, _ = opt.step(cost, weights, bias, X_batch, Y_batch)

    # Compute the accuracy
    predictions = [np.sign(variational_classifier(weights, bias, x)) for x in X]
    
    if accuracy(Y, predictions) > abest:
        wbest = weights
        bbest = bias
        abest = accuracy(Y, predictions)
        print('New best')

    acc = accuracy(Y, predictions)

    print(
        "Iter: {:5d} | Cost: {:0.7f} | Accuracy: {:0.7f} ".format(
            it + 1, cost(weights, bias, X, Y), acc
        )
    )

New best
Iter:     1 | Cost: 0.8098898 | Accuracy: 0.7300000
New best
Iter:     2 | Cost: 0.6831107 | Accuracy: 0.7675000
New best
Iter:     3 | Cost: 0.6737253 | Accuracy: 0.7775000
Iter:     4 | Cost: 0.6795760 | Accuracy: 0.7675000
Iter:     5 | Cost: 0.7620563 | Accuracy: 0.7187500
Iter:     6 | Cost: 0.7116177 | Accuracy: 0.7525000
Iter:     7 | Cost: 0.7053307 | Accuracy: 0.7687500
New best
Iter:     8 | Cost: 0.7806209 | Accuracy: 0.7800000
New best
Iter:     9 | Cost: 0.8004703 | Accuracy: 0.7812500
New best
Iter:    10 | Cost: 0.6870119 | Accuracy: 0.7900000
New best
Iter:    11 | Cost: 0.6127008 | Accuracy: 0.7962500
Iter:    12 | Cost: 0.6746547 | Accuracy: 0.7912500
Iter:    13 | Cost: 0.7723625 | Accuracy: 0.7862500
Iter:    14 | Cost: 0.8143423 | Accuracy: 0.7650000
Iter:    15 | Cost: 0.8094549 | Accuracy: 0.7625000
Iter:    16 | Cost: 0.7198515 | Accuracy: 0.7762500
Iter:    17 | Cost: 0.6490370 | Accuracy: 0.7862500
Iter:    18 | Cost: 0.6119833 | Accuracy: 0.7887500
Iter:    19 | Cost: 0.6074850 | Accuracy: 0.7900000
Iter:    20 | Cost: 0.6224774 | Accuracy: 0.7937500

In [33]:
Yte = np.array(y_test.values[:,0] * 2 - np.ones(len(y_test.values[:,0])), requires_grad = False)
Xte = np.array(normalize(x_test_lda_n), requires_grad=False)

In [34]:
predictions = [np.sign(variational_classifier(wbest, bbest, x)) for x in Xte]
pred = [np.sign(variational_classifier(wbest, bbest, x)) for x in X]
acc = accuracy(Yte, predictions)

print(f'Cost: {cost(wbest, bbest, Xte, Yte)}, Accuracy: {np.round(acc, 2) * 100}%')

Cost: 0.4756019147241009, Accuracy: 84.0%

In [35]:
pd.DataFrame((predictions, Yte), ('Predictions', 'Test')).T

    Predictions  Test
0          -1.0  -1.0
1          -1.0  -1.0
2          -1.0  -1.0
3          -1.0  -1.0
4          -1.0   1.0
..          ...   ...
195        -1.0  -1.0
196        -1.0   1.0
197        -1.0  -1.0
198        -1.0  -1.0
199        -1.0   1.0

[200 rows x 2 columns]

In [36]:
# Print the classification report and important metrics

print(metrics.classification_report(predictions,Yte))
print(metrics.precision_score(predictions,Yte))
print(metrics.recall_score(predictions,Yte))
print(metrics.f1_score(predictions,Yte))
print(metrics.balanced_accuracy_score(predictions,Yte))

              precision    recall  f1-score   support

        -1.0       1.00      0.84      0.91       200
         1.0       0.00      0.00      0.00         0

    accuracy                           0.84       200
   macro avg       0.50      0.42      0.46       200
weighted avg       1.00      0.84      0.91       200

0.0
0.0
0.0
0.84

c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\USER\anaconda3\envs\qkt-tookit\lib\site-packages\sklearn\metrics\_classification.py:1999: UserWarning: y_pred contains classes not in y_true
  warnings.warn("y_pred contains classes not in y_true")